---
interface Props {
  title: string;
  subtitle: string;
  content: string;
  images: string[];
}

const { title, subtitle, content, images } = Astro.props;

function openGallery() {
  const galleryModal = document.getElementById('gallery-modal');
  galleryModal.style.display = 'block';
  const galleryContent = document.getElementById('gallery-content');
  galleryContent.innerHTML = images.map(img => `<img src="${img}" alt="${title}" />`).join('');
}
---

<li class="link-card"  onclick={openGallery}>
  <h2>{title}</h2>
  <h3>{subtitle}</h3>
  <p>{content}</p>
  <img src={images[0]} alt={title} class="card-image" />
</li>

<style lang="scss">
  .link-card {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 1px;
    background-size: 400%;
    border-radius: 7px;
    width: 350px;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    color: #23262d;
    background-color: #f5f6f6;
    opacity: 0.9;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 20px;

    h2 {
      margin: 0;
      font-size: 1.25rem;
    }

    h3 {
      margin: 0.5rem 0 0;
      font-size: 1rem;
      color: #626d6f;
    }

    p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .card-image {
      margin-top: 1rem;
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }
</style>
