---
import Instagram from "../../public/assets/logos/Instagram.svg";
import Linkedin from "../../public/assets/logos/Linkedin.svg";
import Mail from "../../public/assets/logos/Mail.svg";
import Github from "../../public/assets/logos/Github.svg";
import Yo from "../../public/assets/yo.jpg";

const enlacesContacto = [
  {
    href: "https://www.instagram.com/francisco_costanzo",
    icon: Instagram.src,
    alt: "Instagram",
  },
  {
    href: "https://www.linkedin.com/in/francisco-costanzo-102207261/",
    icon: Linkedin.src,
    alt: "LinkedIn",
  },
  {
    href: "mailto:franciscocostanzo663@gmail.com",
    icon: Mail.src,
    alt: "Correo Electrónico",
  },
  {
    href: "https://github.com/CarpinchoRecu",
    icon: Github.src,
    alt: "GitHub",
  },
];
---

<header>
  <div class="header__bar">
    <div class="menu__burger">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-menu-2"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#ffffff"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M4 6l16 0"></path>
        <path d="M4 12l16 0"></path>
        <path d="M4 18l16 0"></path>
      </svg>
    </div>
    <span class="nombre">Francisco Costanzo</span>
    <div class="btn__contacto">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-user"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#f5f6f6"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
      </svg>
      <div class="contenido__contacto">
        {
          enlacesContacto.map((enlace) => (
            <a
              href={enlace.href}
              target="_blank"
              rel="noopener noreferrer"
              aria-label={enlace.alt}
            >
              <img src={enlace.icon} alt={`Logo de ${enlace.alt}`} />
            </a>
          ))
        }
      </div>
    </div>
  </div>
  <div class="menu__content">
    <img src={Yo.src} alt="Tu Foto" />
    <nav>
      <a href="#about">Acerca de</a>
      <a href="#projects">Proyectos</a>
      <a href="#skills">Habilidades</a>
      <a href="#contact">Contacto</a>
    </nav>

    <div class="enlaces-contacto">
      {
        enlacesContacto.map((enlace) => (
          <a
            href={enlace.href}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={enlace.alt}
          >
            <span class="tooltip">{enlace.alt}</span>
            <img src={enlace.icon} alt={`Logo de ${enlace.alt}`} />
          </a>
        ))
      }
    </div>
  </div>
</header>

<style lang="scss">
  $color-nevada: (
    50: #f5f6f6,
    100: #e5e8e8,
    200: #ced3d3,
    300: #abb4b5,
    400: #818d8f,
    500: #626d6f,
    600: #576063,
    700: #4b5153,
    800: #424748,
    900: #3a3e3f,
    950: #242728,
    shadow: #2427284d,
  );

  @function color-nevada($shade) {
    @return map-get($color-nevada, $shade);
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    padding: 1rem;
    background-color: color-nevada(800);
    color: color-nevada(50);
    width: 250px;
    height: 100vh;
    transition: width 0.5s ease;

    @media (max-width: 1000px) {
      position: relative;
      height: auto;
      width: 100%;
      height: 0;
      padding: 0;
      margin: 0;
      align-items: start;
      z-index: 2;
    }

    .header__bar {
      display: none;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      background-color: color-nevada(800);
      padding: 1rem;
      height: 70px;

      @media (max-width: 1000px) {
        display: flex;
      }
      .btn__contacto {
        display: none;
        position: relative;
        text-align: center;
        justify-content: center;
        border: 2px solid color-nevada(50);
        border-radius: 50%;
        padding: 3px;
        cursor: pointer;

        svg {
          stroke: color-nevada(50);
          height: 30px;
          width: 30px;
        }

        .contenido__contacto {
          position: absolute;
          box-shadow: 0 2px 20px 1px color-nevada(shadow);
          background-color: color-nevada(800);
          padding: 8px;
          border-radius: 8px;
          display: none;
          flex-direction: column;
          gap: 1.1rem;
          margin-top: 60px;
          a {
            display: flex;
            position: relative;
            align-items: center;

            img {
              width: 30px;
              height: 30px;
              transition: 0.3s ease;
            }
          }
        }

        @media (max-width: 1000px) {
          display: flex !important;

          .contenido__contacto {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -130%) scale(0);
            transform-origin: center;
            box-shadow: 0 2px 20px 1px rgba(36, 39, 40, 0.3);
            background-color: color-nevada(900);
            padding: 8px;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            gap: 1.1rem;
            opacity: 0;
            transition: all 0.3s ease;
            width: 50px;
            height: 50px;
            z-index: -1;
            a{
              width: 90%;
              opacity: 0;
            }
          }
        }
        .active2 {
          opacity: 1;
          transform: translate(-50%, -10%) scale(1);
          border-radius: 8px;
          width: auto;
          height: auto;
          padding: 8px;
          display: flex !important;
          a{
            opacity: 1;
          }
        }
      }


      .nombre {
        display: none;
        font-size: 20px;
        font-weight: bold;
        @media (max-width: 1000px) {
          display: block; 
      }
      }

      .menu__burger {
        transition: 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        border-radius: 6px;
        border: 2px solid #00000000;
        cursor: pointer;
        svg {
          stroke: color-nevada(50);
          height: 40px;
          width: 40px;
        }

        @media (max-width: 1000px) {
          &:hover {
            background-color: #00000000 !important;
            border: 2px solid #00000000 !important;
            svg {
              stroke: color-nevada(50) !important;
            }
          }
        }

        &:hover {
          background-color: color-nevada(50);
          border: 2px solid color-nevada(50);
          svg {
            stroke: color-nevada(950);
          }
        }
      }
    }

    .menu__content {
      background-color: color-nevada(800);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      z-index: -2;
      @media (max-width: 1000px) {
        text-align: center;
        margin: 0;
        padding: 0;
        transform: translate(0, -90%) scale(1);
        transition: all 0.3s ease;
        opacity: 0;
      }

      img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-bottom: 2rem;
        transition: all 0.3s ease;
        @media (max-width: 1000px) {
          width: 110px;
          height: 110px;
          margin-bottom: 1rem;
          &:hover {
            width: 110px !important;
            height: 110px !important;
          }
        }

        &:hover {
          width: 160px;
          height: 160px;
        }
      }

      nav {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 10rem;

        @media (max-width: 1000px) {
          align-items: center;
        }

        a {
          width: 100%;
          text-align: start;
          text-decoration: none;
          color: color-nevada(50);
          font-size: 20px;
          padding: 10px;
          border-radius: 6px;
          transition: 0.3s ease;
          @media (max-width: 1000px) {
            text-align: center;
            border-radius:9px;
            width: 90%;
            background-color: color-nevada(950);
          }

          &:hover {
            background-color: color-nevada(50);
            color: color-nevada(950);
            scale: 1.03;
          }
        }
      }

      .enlaces-contacto {
        display: flex;
        gap: 1rem;
        margin-top: auto;
        @media (max-width: 1000px) {
          display: none;
        }
        a {
          position: relative;
          display: flex;
          align-items: center;

          &:hover img {
            scale: 1.1;
          }

          &:hover .tooltip {
            opacity: 1;
          }

          img {
            width: 30px;
            height: 30px;
            transition: 0.3s ease;
          }

          .tooltip {
            position: absolute;
            bottom: 4.3rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: color-nevada(950);
            color: color-nevada(50);
            padding: 0.4rem 0.5rem;
            border-radius: 8px;
            font-size: 0.8rem;
            white-space: nowrap;
            opacity: 0;
            transition: 0.3s ease;
            pointer-events: none;
          }
        }
      }
    }

    .active {
      display: flex;
      justify-content: center;
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuToggle = document.querySelector(".menu__burger");
    const menuContent = document.querySelector(".menu__content");
    const btnContacto = document.querySelector(".btn__contacto");
    const contactoContenido = document.querySelector(".contenido__contacto");

    menuToggle.addEventListener("click", function () {
      menuContent.classList.toggle("active");
    });

    btnContacto.addEventListener("click", function () {
      contactoContenido.classList.toggle("active2");
    });
  });
</script>
